{
	"env": {
		"test": {
			"plugins": [
				["babel-plugin-transform-adana", {
					"ignore": "test/**/*"
				}]
			]
		}
	},
	"presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 4
      }
    }]
  ]
}
